.constructorItemTop {
  margin-top: 100px;
  margin-bottom: 16px;
  margin-left: 20px;
}

.constructorItemBottom {
  margin-top: 16px;
  margin-left: 20px;
}

.constructorItemBottom img {
  transform: rotateX(180deg);
}