.wrapper {
  width: 602px;
}


.title {
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  text-align: left;
  margin-top: 40px;
  margin-bottom: 20px;
}

.ingridient {
  display: flex;
  margin-bottom: 40px;
}